<ul id='message-list'></ul>

<div class='row'>
  <div class='column column-20'>
    <input type='text' id='name' class='form-control' placeholder='Name' autofocus>
  </div>
  <div class='column column-80'>
    <input type='text' id='message' class='form-control' placeholder='Message'>
  </div>
</div>
