/* This file is for your main application css. */
@import "./phoenix.css";

#message-list {
  list-style: none;
  border: 1px solid lightblue;
  border-radius: 5px;
  height: 400px;
  padding: 10px;
  margin-top: 80px;
  overflow: auto;
}